<div class="box-group-content">
    <div class="box-content" style="background:#fff;">
        <form action="#" method="#" id="formSubmitAdd">
            <div class="container">
                <h3 class="txt-title text-center">Thêm mới sản phẩm</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên sản phẩm:</label>
                            <input type="text" class="form-control product-name" name="name"/>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Danh mục:</label>
                                <select class="form-control categoryid" name="categoryid">
                                    <option value="">text</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Thương hiệu:</label>
                                <select class="form-control brandsid">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Ngày sản xuất:</label>
                                <input type="text" name="manufacturingdate" value="" class="form-control customdate"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Hạn sử dụng:</label>
                                <input type="text" name="expirydate" value="" class="form-control customdate"/>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Giá:</label>
                                <input type="text" class="form-control price" name="price"  value="" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Giá giảm:</label>
                                <input type="text" class="form-control reduced-price"  value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Tổng số sản phẩm:</label>
                                <input type="text" class="form-control total"  value="" name="total"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Màu:</label>
                                <select class="form-control colorsid">                                    
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Trạng thái:</label>
                                <select class="form-control selectstatus" name="selectstatus">
                                    <option value="">text</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ảnh sản phẩm: <a href="javascript:void(0)" class="add-image">Thêm ảnh</a></label>
                    <div class="box-images">
                        <input id="file-input" class="filesImages" type="file" multiple/>
                        <div class="image-upload item-image">
                        </div>
                    </div>
                </div>

                <div class="form-group" style="display:inline-block;width:100%;">
                    <label>Mô tả ngắn:</label>
                    <textarea id="txtsubContent" rows="6" class="form-control" name="subdecription"></textarea>
                </div>
                <div class="form-group">
                    <div class="form-group" style="display:inline-block;width:100%;">
                        <label>Mô tả chi tiết:</label>
                        <textarea id="txtContentdetail" rows="6" class="form-control" name="decription"></textarea>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-danger" style="width: 100px">Hủy</button>
                    <button type="submit" class="btn btn-primary" style="width: 100px">Lưu</button>
                </div>
            </div>
            </form>
    </div>
</div>