
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{

    <link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admin/plugins/ckeditor/skins/moono-lisa/editor.css" rel="stylesheet" />
    <style>
        .btnSearch {
            margin-right: 10px;
        }

        .color-show {
            width: 21px;
            height: 21px;
            display: inline-block;
        }

        .box-images > input {
            display: none;
        }

        .box-images .item-image {
            width: 120px;
            height: 100px;
            border-radius: 4px;
            background: url('/image/default-image-620x600.jpg');
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .error {
            border-color: #f00 !important;
        }

        label.error {
            clear: both;
            color: #f00;
            display: block;
            /* padding: 10px; */
            text-align: left;
            margin: unset;
            padding: unset;
            font-size: 13px;
            font-weight: unset !important;
            background: unset;
        }

        .add-image {
            background: #007bff;
            color: #fff;
            padding: 2px 5px;
            border-radius: 4px;
            font-size: 14px;
        }

        .txt-title {
            padding: 20px 0px;
        }
        .border-red {
            border: 1px solid red;
        }
    </style>
}
<section class="content content-infor">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách màu</h3>
                        @*<button class="btn btn-success float-right btn-add">Thêm mới</button>*@
                        @*<button class="btn btn-primary float-right btnSearch" type="button" data-toggle="collapse" data-target="#boxSearch" aria-expanded="false" aria-controls="collapseExample">
                            Tìm kiếm
                        </button>*@
                        @*<partial name="_Search" />*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Reduced Price</th>
                                                @*<th>Category</th>*@
                                                <th>Total</th>
                                                <th>Point</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblData">
                                        </tbody>
                                    </table>
                                    @*<div class="row">
                                        <div class="col-sm-5">
                                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                <select id="ddlShowPage">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                </select>
                                                <span class="item-per-page">
                                                    bản ghi/trang.
                                                </span>
                                                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                                            </div>
                                        </div><div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                                <ul id="paginationUL" class="float-right"></ul>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</section>
<section class="box-content-add" style="display:none">
    <partial name="_AddUpdate" />
</section>


@section Scripts{
    <script src="/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/plugins/ckeditor/ckeditor.js"></script>
    @*<script src="~/admin/plugins/select2/js/select2.min.js"></script>*@
    <script src="~/admin/product/product.js?v=@DateTime.Now.Ticks"></script>
}



