
@{
    ViewData["Title"] = "About";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/web/css/gioithieu.css" rel="stylesheet">
   
}

<section class="imge-background">
    <div class="background-image-content">
        <div class="container">
            <div class="background-image-text">
                <div class="emphasis-title">
                    <h2>
                        Chuyển đổi nền kinh tế xanh
                    </h2>
                    <h3>TIÊN PHONG TẠI VIỆT NAM</h3>
                </div>
                <a href="tel:0964947500" class="button button-border button-light button-circle"><i class="fa-solid fa-phone"></i> 0964 947 500</a>
            </div>
        </div>
    </div>

</section>


<section id="content" class="box-mission">
    <div class="content-wrap py-0">
        <div class="container">
            <div id="section-works" class="center section ">
                <div class="text-justify">
                    <h3 class="txt-title">
                        Lí do thành lập
                    </h3>
                    <p class="txt-text">
                        Với việc biến đổi khí hậu kèm theo đó là việc ô nhiễm khí hậu khiến cho môi trường trở nên tồi tệ. Chính vì vậy đội ngũ của chúng tôi tạo ra tổ chức này nhằm khuyến khích mọi người về việc bảo vệ môi trường và phân loại rác thải
                    </p>
                    <h3 class="txt-title">
                        Sứ mệnh
                    </h3>
                    <p class="txt-text">Tổ chức Recyclable Waste phi lợi nhuận của chính phủ nhằm nâng cao ý thức khuyến khích người dân bảo vệ môi trường,kèm theo việc làm tích cực thì sẽ có những phần quà tích điểm và phần thưởng phù hợp</p>

                    <!-- <div class="box-solution">
                             <div class="row welcome text-center box-title">
                                <div class="col-12">
                                    <h1 class="txt-title-solution">GIẢI PHÁP THAY THẾ HOÀN HẢO</h1>
                                    <p class="text-center txt-text"><b>Nền tảng chuyển đổi kinh tế xanh tại Việt Nam</b></p>
                                </div>
                            </div>
                           <div class="row text-center padding">
                                    <div class="col-xs-12 col-sm-6 col-md-4 ">
                                        <i class=" icon-logo fa-solid fa-seedling"></i>
                                        <h4>Hoàn toàn tự nhiên</h4>
                                        <p>Lựa chọn những nguyên liệu gần gũi với thiên nhiên</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <i class=" icon-logo fa-solid fa-recycle"></i>
                                        <h4>Sử dụng lâu dài</h4>
                                        <p>Các sản phẩm của Recyclable Waste có thể tái chế nhiều lần</p>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <i class=" icon-logo fa-solid fa-globe"></i>
                                        <h4>Phân hủy sinh học</h4>
                                        <p>Phân hủy hoàn toàn trong môi trường tự nhiên</p>
                                    </div>
                                </div>

                            </div>

                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="box-distinctive">
    <div class="container">
        <div class="box-content">
            <p class="txt-title">Khác biệt Nền tảng <br /> <span class="txt-title-down">Nền tảng bán hàng CTV hàng đầu tại Việt Nam</span></p>
            <div class="box-image"></div>
        </div>
    </div>
</section>

