@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="box-slider-head">
    <!-- owl-carousel -->
    <div class="box-owl-carousel ">
        <div class="box-carousel-item active">
            <div class="carousel-caption">
                <h1 class="title-h1">Chuyển đổi nền kinh tế xanh</h1>
                <h3 class="title-h3">TIÊN PHONG TẠI VIỆT NAM</h3>
                <div class="box-button">
                    <button type="button" class="button facebook"><a href="#" class="button"><i class="fab fa-facebook"> </i></a> CỘNG ĐỒNG XANH</button>
                    <button type="button" class="button youtube"><a href="#" class="button"><i class="fab fa-youtube"> </i> </a> HƯỚNG DẪN ĐỔI ĐIỂM</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid box-content-hands">
    <div class="container">
        <p class="txt-text">Hãy chung tay bảo vệ môi trường, bảo vệ trái đất <span class="down-line-mobile"></span> vì bạn, vì tôi, vì những người thân yêu quanh mình.</p>
        <a href="#" class="act-now">
            Hành Động Ngay
        </a>
    </div>

</div>
<div class="box-alternative-solution">
    <div class="container">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">GIẢI PHÁP THAY THẾ NHỰA HOÀN HẢO!</h1>
            </div>
        </div>
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4 ">

                <i class="fas fa-leaf"></i>
                <h4 class="txt-title">Hoàn toàn tự nhiên</h4>
                <p>Lựa chọn giữa những nguyên liệu gần gũi với thiên nhiên Việt Nam</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="  far fa-handshake"></i>
                <h4 class="txt-title">Sử dụng lâu dài</h4>
                <p>Các sản phẩm của Recyclable Waste hoàn toàn có thể tái chế nhiều lần </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fas fa-globe"></i>
                <h4 class="txt-title">Phân hủy sinh học</h4>
                <p>Phân hủy hoàn toàn trong môi trường tự nhiên</p>
            </div>
        </div>
        <hr class="my-4 strike-through">
    </div>
</div>
<!-- </div> -->

<div class="box-area">
    <div class="container">
        <div class="row">
            <div class="single-box single-box-one col-md-4">
                <div class="box-content-item">

                    <div class="img-text">
                        <span class="header-text"><strong>PHỤC VỤ <br /> CỘNG ĐỒNG</strong></span>
                        <p class="text-content">Nhân viên Recyclable Waste tham gia vào các sự kiện dọn dẹp và thúc đẩy phong bì trong ngành công nghiệp tái chế. Luôn cập nhật các hoạt động và nỗ lực mới nhất của Recyclable Waste.</p>
                    </div>
                    <div class="img-area">
                        <p class="hover-image"></p>
                    </div>
                </div>

            </div>
            <div class="single-box col-md-4">
                <div class="box-content-item">

                    <div class="img-text">
                        <span class="header-text"><strong>PHỤC HỒI & CHẾ BIẾN <br /> VẬT LIỆU</strong></span>
                        <p class="text-content">Recyclable Waste đã tự khẳng định mình là nhà xử lý chất thải rắn và chất thải tái chế hàng đầu. Chế biến riêng biệt được thiết kế để phân biệt các loại nguyên liệu khác nhau.</p>
                    </div>
                    <div class="img-area">
                        <p class="hover-image"></p>
                    </div>
                </div>
            </div>
            <div class="single-box single-box-two col-md-4">
                <div class="box-content-item">



                    <div class="img-text">
                        <span class="header-text"><strong>SẢN PHẨM <br /> TÁI CHẾ</strong></span>
                        <p class="text-content">Mỗi tuần, cơ thể con người hấp thụ lượng vi nhựa tương đương với 1 chiếc thẻ tín dụng. Hãy cùng RECYCLABLE WAST hạn chế sản phẩm nhựa sử dụng một lần.</p>
                    </div>
                    <div class="img-area">
                        <p class="hover-image"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<section class="section wrapper-home-newsletter">
    <div class="container-fluid">
        <div class="content-newsletter">
            <h2>Đăng ký</h2>
            <p>Đăng ký nhận bản tin của Runner Inn để cập nhật những sản phẩm mới, nhận thông tin ưu đãi đặc biệt và thông tin giảm giá khác.</p>
            <div class="form-newsletter">
                <form action="" accept-charset="UTF-8" class="">
                    <div class="form-group">
                        <input type="hidden" id="contact_tags">
                        <input required="" type="email" value="" placeholder="Nhập email của bạn" aria-label="Email Address" class="">
                        <button type="submit" class=""><span>Gửi</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="section section-gallery box-custom">
    <div class="hot_sp">
        <h2 class="txt-title">
            Khách hàng và Runner Inn
        </h2>
    </div>
    <div class="list-gallery clearfix">
        <ul class="shoes-gp">
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_2.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_3.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_4.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_5.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="gallery_item">
                    <img class="img-resize" src="./web/img/shoes/gallery_item_6.jpg" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>