
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles{

    <link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        .btnSearch{
            margin-right: 10px;
        }
    </style>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách category</h3>
                        <button class="btn btn-success float-right btn-add" data-toggle="modal" data-target="#_add">Thêm mới</button>
                        <button class="btn btn-primary float-right btnSearch" type="button" data-toggle="collapse" data-target="#boxSearch" aria-expanded="false" aria-controls="collapseExample">
                            Tìm kiếm
                        </button>                        
                        <partial name="_Search" />
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Danh mục cha</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblData">
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                <select id="ddlShowPage">
                                                    <option value="10" selected="selected">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                </select>
                                                <span class="item-per-page">
                                                    bản ghi/trang.
                                                </span>
                                                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                                            </div>
                                        </div><div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                                <ul id="paginationUL" class="float-right"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <partial name="_AddUpdate" />
</section>
@section Scripts{
    <script src="/admin/plugins/jquery-validation/jquery.validate.min.js"></script>
    @*<script src="~/admin/plugins/select2/js/select2.min.js"></script>*@
    <script src="~/admin/category/category.js?v=@DateTime.Now.Ticks"></script>
}



