@using WEBSITE.Areas.Admin.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@{
    var userString = Context.Session.GetString("UserInfor");
    var _user = new UserModelView();
    int userId = 0;
    int isLogin = 0;

    if (userString != null)
    {
        _user = JsonConvert.DeserializeObject<UserModelView>(userString);
        isLogin = 1;
        userId = _user.Id;
    }
}
@{
    ViewData["Title"] = "TelecomOffersDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="telecom-offer-detail">
    <div class="container">
        <h2 class="section-title">
            Ưu đãi viễn thông
        </h2>
        <div class="telecom-offer__content">
            <ul class="telecom-list">
                <li class="telecom-list__item telecom-list__item_custom cuoc-di-dong active" data-param="cuoc-di-dong" data-name="Cước Di Động">
                    <a class="telecom-list__link">
                        <span class="telecom-list__icon">
                            <i class="fa-solid fa-mobile-screen">
                            </i>
                        </span> <span class="telecom-list__name">Cước Di Động</span>
                    </a>
                </li>
                <li class="telecom-list__item telecom-list__item_custom data" data-name="Data" data-param="data"><a class="telecom-list__link"><span class="telecom-list__icon"><i class="fas fa-database"></i></span> <span class="telecom-list__name">Data</span></a></li>
                <li class="telecom-list__item telecom-list__item_custom phut-goi" data-name="Phút Gọi" data-param="phut-goi"><a class="telecom-list__link"><span class="telecom-list__icon"><i class="fa-solid fa-phone-volume" style="transform: rotate(-35deg);"></i></span> <span class="telecom-list__name">Phút Gọi</span></a></li>
                <li class="telecom-list__item telecom-list__item_custom sms" data-name="SMS" data-param="sms"><a class="telecom-list__link"><span class="telecom-list__icon"><i class="fa-solid fa-comment-dots"></i></span> <span class="telecom-list__name">SMS</span></a></li>
                <li class="telecom-list__item goi-cuoc" data-param="goi-cuoc"><a class="telecom-list__link"><span class="telecom-list__icon"><i class="fa-solid fa-file-lines"></i></span> <span class="telecom-list__name">Gói Cước</span></a></li>
            </ul>
            <div class="telecom-box">
                <div class="cuoc-di-dong item-uu-dai" style="display:none">
                    <div class="telecom-box__exchange">
                        <p class="telecom-box__exchange-value">
                            <span>1.000</span>
                            điểm =
                            <span>1000</span>
                            tiền cước
                        </p>
                    </div>
                    <ul class="telecom-box__list">
                        <li class="telecom-box__item">
                            <h5 class="telecom-box__sub">Thể lệ</h5>
                            <div class="telecom-box__detail">
                                <p class="telecom-box__des">
                                <p>
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Điều kiện áp dụng: Khách hàng di động và cố định là hội viên Kim Cương, Vàng, Bạc có số điểm tiêu dùng từ 1.000 điểm trở lên.</span></span>
                                </p>
                                <p>
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Mức điểm đổi tối thiểu: 100 điểm.</span></span>
                                </p>
                                <p>
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Tiền cước sau quy đổi được cộng vào tài khoản khuyến mại với thuê bao trả trước hoặc điều chỉnh vào hóa đơn cước với thuê bao trả sau.</span></span>
                                </p>
                                <p>
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Tiền nạp từ đổi điểm không được hưởng các chương trình khuyến mại thẻ nạp khác (nếu có) và không được sử dụng để tích điểm xét hạng.</span></span>
                                </p>
                                @*</p>*@
                            </div>
                            <!---->
                        </li>
                    </ul>
                </div>
                <div class="data item-uu-dai" style="display:none">
                    <div class="telecom-box__exchange">
                        <p class="telecom-box__exchange-value">
                            <span>1.000</span>
                            điểm =
                            <span>200</span>
                            MB/ngày
                        </p>
                    </div>
                    <ul class="telecom-box__list">
                        <li class="telecom-box__item">
                            <h5 class="telecom-box__sub">Thể lệ</h5>
                            <div class="telecom-box__detail">
                                <p>@*  *@
                                <p style="text-align: justify;">
                                    <span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Điều kiện áp dụng: Khách hàng di động có số điểm tiêu dùng từ 1.000 điểm trở lên.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                    <span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Mức điểm đổi tối thiểu: 100 điểm.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                    <span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Thời gian sử dụng: Trong ngày sau khi đổi</span></span>
                                </p>
                                @*</p>*@
                            </div>
                            <!---->
                        </li>
                    </ul>
                </div>
                <div class="phut-goi item-uu-dai" style="display:none">
                    <div class="telecom-box__exchange">
                        <p class="telecom-box__exchange-value">
                            <span>1.000</span>
                            điểm =
                            <span>10</span>
                            phút gọi nội mạng
                        </p>
                    </div>
                    <ul class="telecom-box__list">
                        <li class="telecom-box__item">
                            <h5 class="telecom-box__sub">Thể lệ</h5>
                            <div class="telecom-box__detail">
                                <p class="telecom-box__des">
                                <p style="text-align: justify;">
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Điều kiện áp dụng: Khách hàng di động có số điểm tiêu dùng từ 1.000 điểm trở lên.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Mức điểm đổi tối thiểu: 100 điểm.</span></span>
                                </p>
                                <p style="text-align: justify;">
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Thời gian sử dụng: 30 ngày sau khi đổi.</span></span>
                                </p>
                                </p>
                            </div>
                            <!---->
                        </li>
                    </ul>
                </div>
                <div class="sms item-uu-dai" style="display:none">
                    <div class="telecom-box__exchange">
                        <p class="telecom-box__exchange-value">
                            <span>1.000</span>
                            điểm =
                            <span>100</span>
                            SMS nội mạng
                        </p>
                    </div>
                    <ul class="telecom-box__list">
                        <li class="telecom-box__item">
                            <h5 class="telecom-box__sub">Thể lệ</h5>
                            <div class="telecom-box__detail">
                                <p class="telecom-box__des">
                                <p>
                                    <span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Điều kiện áp dụng: Khách hàng di động có số điểm tiêu dùng từ 1.000 điểm trở lên.</span></span>
                                </p>
                                <p>
                                    <span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">Mức điểm đổi tối thiểu: 100 điểm.</span>
                                </p>
                                <p>
                                    <span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">Thời gian sử dụng: 30 ngày sau khi đổi.</span>
                                </p>
                                </p>
                            </div>
                            <!---->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!---->
        <div class="exchange-point">
            <h3 class="exchange-point__title">
                Gói điểm quy đổi
            </h3>
            <ul class="exchange-point__list cuoc-di-dong item-goi-quy-doi" style="display:none">
                <li class="exchange-point__item" data-point="50000" data-name="50.000">
                    <span class="exchange-point__action"><i class="icon-check"></i></span>
                    <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-point-1.png" alt="img"></div>
                    <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            50.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="100000" data-name="100.000">
                    <span class="exchange-point__action"><i class="icon-check"></i></span>
                    <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-point-2.png" alt="img"></div>
                    <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            100.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="150000" data-name="150.000">
                    <span class="exchange-point__action"><i class="icon-check"></i></span>
                    <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-point-3.png" alt="img"></div>
                    <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            150.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="200000" data-name="200.000">
                    <span class="exchange-point__action"><i class="icon-check"></i></span>
                    <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-point-4.png" alt="img"></div>
                    <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            200.000 điểm
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="exchange-point__list data item-goi-quy-doi" style="display:none">
                <li class="exchange-point__item" data-point="1000" data-name="200 MB">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-pack-1.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            1.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="2000" data-name="400 MB">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-pack-2.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            2.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="3000" data-name="600 MB">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-pack-3.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            3.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="4000" data-name="600 MB">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-pack-4.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            4.000 điểm
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="exchange-point__list phut-goi item-goi-quy-doi" style="display:none">
                <li class="exchange-point__item" data-point="500" data-name="5 phút">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-time-1.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            500 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="1000" data-name="10 phút">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-time-2.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            1.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="1500" data-name="10 phút">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-time-3.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            1.500 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="2000" data-name="15 phút">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-time-4.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            2.000 điểm
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="exchange-point__list sms item-goi-quy-doi" style="display:none">
                <li class="exchange-point__item" data-point="500" data-name="50 sms">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-sms-1.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            500 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="1000" data-name="100 sms">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-sms-2.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            1.000 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="1500" data-name="150 sms">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-sms-3.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            1.500 điểm
                        </span>
                    </div>
                </li>
                <li class="exchange-point__item" data-point="2000" data-name="200 sms">
                    <span class="exchange-point__action"><i class="icon-check"></i></span> <div class="exchange-point__images img-hover"><img src="https://vietteltelecom.vn/images-viettel-plus/img-tele-sms-4.png" alt="img"></div> <div class="exchange-point__info">
                        <span class="exchange-point__icon"><i class="icon-deposit"></i></span> <span class="exchange-point__name">
                            2.000 điểm
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <!---->
        <div class="telecom-offer__btn">
            <a href="#" class="button-plus button-plus--primary button-plus--medium btn-xac-nhan-doi-diem">
                Xác Nhận Đổi Điểm
            </a>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi điểm nhận ưu đãi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title-doi">Ưu đãi viễn thông sẽ được chuyển đổi theo điểm của bạn tích lũy.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-agree">Đồng ý</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="loginres">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi điểm nhận ưu đãi viễn thông</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title-doi">Vui lòng đăng nhập để nhận được ưu đãi viễn thông.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/AcountUser/Login">Đồng ý</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModalSussec">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi điểm nhận quà</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title-doi" style="text-align:center">Bạn đã đổi điểm thành công.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-sucsses">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModalUuDai">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi điểm nhận ưu đãi viễn thông</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="title-doi" style="text-align:center">Vui lòng chọn ưu đãi</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-close-sucsses">Đóng</button>
            </div>
        </div>
    </div>
</div>
@*</div>*@

<style>
    ul li {
        list-style-type: none;
    }

    ul {
        padding-left: 0px;
    }

    a {
        text-decoration: none !important;
    }
    .btn-xac-nhan-doi-diem:hover {
        color: #fff;
    }
    .telecom-offer-detail {
        margin-top: 120px;
    }

    .section-title {
        color: #26292b !important;
        font-family: 'FS Magistral', sans-serif !important;
        font-size: 44px !important;
        font-weight: 700 !important;
        line-height: 64px !important;
        text-transform: unset !important;
        margin: 0 0 15px;
        text-align: center;
        word-break: break-word;
        padding-top: 50px;
    }

    .telecom-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -15px;
        padding: 20px 90px 0;
    }

    .telecom-list__item.active, .telecom-list__item:hover {
        background-color: #ee0033;
        border-color: #ee0033;
    }

    .telecom-list__item {
        background-color: #f7f7f7;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(100% / 5 - 30px);
        -ms-flex: 0 0 calc(100% / 5 - 30px);
        flex: 0 0 calc(100% / 5 - 30px);
        margin: 0 15px;
        width: calc(100% / 5 - 30px);
    }

    .telecom-list__link {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        min-height: 160px;
        padding: 10px;
    }

    .telecom-list__item.active .telecom-list__icon, .telecom-list__item:hover .telecom-list__icon {
        color: #fff;
    }

    .telecom-list__icon {
        color: #ff3b4a;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 10px;
    }

    .telecom-list__name {
        color: #44494d;
        font-family: 'FS PFBeauSansPro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
    }

    .telecom-list__icon i {
        font-size: 40px;
    }

    .telecom-box {
        background-color: #f7f7f7;
        border-radius: 4px;
        margin: 40px auto;
        max-width: 790px;
        padding: 25px;
        width: 100%;
    }

    .telecom-box__exchange {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 0 25px;
    }

    .telecom-box__exchange-value {
        background-color: #fff;
        border-radius: 4px;
        color: #ee0033;
        font-family: 'FS Magistral', sans-serif;
        font-size: 20px;
        line-height: 30px;
        padding: 15px 25px;
    }

        .telecom-box__exchange-value span {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
        }

    .telecom-box__sub {
        font-weight: 700 !important;
    }

    .telecom-box__sub {
        color: #000;
        font-family: 'FS PFBeauSansPro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        margin: 0 0 8px;
    }

    .telecom-box__des, .telecom-box__des p, .telecom-box__des span {
        font-weight: 400 !important;
    }

    .telecom-box__des {
        color: #26292b;
        font-family: 'FS PFBeauSansPro', sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

        .telecom-box__des, .telecom-box__des p, .telecom-box__des span {
            font-weight: 400 !important;
        }

    .exchange-point {
        margin: 40px 0 0;
    }

    .exchange-point__title {
        font-weight: 700 !important;
    }

    .exchange-point__title {
        color: #26292b;
        font-family: 'FS Magistral', sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        margin: 0 0 24px;
        text-align: center;
    }

    .exchange-point__list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .exchange-point__item {
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        cursor: pointer;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(100% / 4 - 30px);
        -ms-flex: 0 0 calc(100% / 4 - 30px);
        flex: 0 0 calc(100% / 4 - 30px);
        height: 100%;
        margin: 0 15px;
        position: relative;
        width: calc(100% / 4 - 30px);
    }

    .exchange-point__action {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #ee0033;
        border-radius: 50%;
        display: none;
        height: 28px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: -15px;
        top: -15px;
        width: 28px;
        z-index: 1;
    }

        .exchange-point__action i {
            color: #fff;
            font-size: 10px;
        }

    .telecom-offer__btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 40px 0 25px;
    }

        .telecom-offer__btn .button-plus {
            width: 445px;
        }

    .button--disabled {
        background-color: #e4e4e4;
        border-color: #e4e4e4;
        color: #727272;
        pointer-events: none;
    }

    .button-plus--medium {
        font-size: 14px;
        line-height: 20px;
        padding: 9px 15px;
    }

    .button-plus--primary {
        background-color: #ee0033;
        color: #fff;
    }

    .button-plus {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-family: 'FS PFBeauSansPro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 24px;
        padding: 9px 20px;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 1;
    }

    .telecom-list__item.active .telecom-list__name, .telecom-list__item:hover .telecom-list__name {
        color: #fff;
    }

    .exchange-point__info {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 16px 20px;
    }

    .exchange-point__name {
        color: #26292b;
        font-family: 'FS PFBeauSansPro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .exchange-point__images {
        border-radius: 4px 4px 0 0;
        height: 200px;
    }

    .img-hover img:hover {
        -webkit-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    .exchange-point__item.active {
        border: 4px solid #ee0033;
    }

    .exchange-point__item {
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        cursor: pointer;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 calc(100% / 4 - 30px);
        -ms-flex: 0 0 calc(100% / 4 - 30px);
        flex: 0 0 calc(100% / 4 - 30px);
        height: 100%;
        margin: 0 15px;
        position: relative;
        width: calc(100% / 4 - 30px);
    }

    .img-hover {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
</style>


@section Scripts{
    <script src="~/web/plugins/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.js"></script>
    <script type="text/javascript">
        var self = this;
        self.data = {
            Name: "",
            Point: 0,
            Exchange: ""
        };
        $(document).ready(function () {
            var param = getUrlParameter("name");
            ShowItem(param);
            $(".telecom-list__item_custom").click(function () {
                var param = $(this).attr("data-param");

                ShowItem(param);
            })
            $(".exchange-point__item").click(function () {
                $(".exchange-point__item").removeClass("active");
                $(this).addClass("active");

                self.data.Name = $(".telecom-list__item_custom.active").attr("data-name");
                self.data.Point = $(this).attr("data-point");
                self.data.Exchange = $(this).attr("data-name");

            })
            $(".btn-close-sucsses").click(function () {
                window.location.href = "/ExchangePoints/index";
            })
            $(".btn-xac-nhan-doi-diem").click(function () {
                if (@isLogin == 0) {                    
                    $('#loginres').modal('show');
                    //window.location.href = "/AcountUser/Login";
                } else if (self.data.Name == "") {
                    $('#exampleModalUuDai').modal('show');
                } else {
                     $.ajax({
                         url: '/TelecomOffers/AddUserTelecom',
                        type: 'POST',
                         data: {
                             userId: @userId,
                             telecomModelView: self.data
                         },
                        dataType: 'json',
                        beforeSend: function () {
                            //Loading('show');
                        },
                        complete: function () {

                        },
                         success: function (response) {
                             $(".title-doi").text("Bạn đã đổi ưu đãi viễn thông thành công");
                             $('#exampleModal').modal('hide');
                             $('#exampleModalSussec').modal('show');
                        }
                    })
                }

            })

        })

        function ShowItem(param) {
            if (param == "cuoc-di-dong") {
                $(".item-uu-dai,.telecom-list__item_custom").removeClass("active");
                $(".item-goi-quy-doi,.item-uu-dai").hide();
                $(".cuoc-di-dong").addClass("active");
                $(".cuoc-di-dong").show();
            } else if (param == "data") {
                $(".item-uu-dai,.telecom-list__item_custom").removeClass("active");
                $(".item-goi-quy-doi,.item-uu-dai").hide();
                $(".data").addClass("active");
                $(".data").show();
            }
            else if (param == "phut-goi") {
                $(".item-uu-dai,.telecom-list__item_custom").removeClass("active");
                $(".item-goi-quy-doi,.item-uu-dai").hide();
                $(".phut-goi").addClass("active");
                $(".phut-goi").show();
            }
            else if (param == "sms") {
                $(".item-uu-dai,.telecom-list__item_custom").removeClass("active");
                $(".item-goi-quy-doi,.item-uu-dai").hide();
                $(".sms").addClass("active");
                $(".sms").show();
            }
        }
        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
            return false;
        };

    </script>
}