
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/web/css/cachthucdoidiem.css" rel="stylesheet">    
}
<div class="box-garbage-collection">
    <div class="box-image-head">
        <div class="container">
            <p class="txt-text"><a href="">Trang chủ </a> <span>> </span>Chương trình Tích Điểm – Nhận Quà </p>
        </div>
    </div>
    <div class="box-image-present">
        <div class="container">
            <div class="image-present"></div>
        </div>
    </div>
    <div class="box-content-text">
        <div class="container">
            <div class="content-text">
                <p class="txt-text">Chương trình Việt Nam Tái Chế triển khai hoạt động Tích Điểm – Nhận Quà (Trao đi thiết bị hỏng – Nhận lại quà tặng xanh) nhằm khuyến khích người dân nâng cao ý thức và chủ động hơn trong việc thải bỏ rác thải điện điện tử đúng cách, an toàn. Các thiết bị điện tử trước đây vốn được người dân quen bán đồng nát hay vứt chung với rác sinh hoạt thì bây giờ có thể thông qua chương trình được xử lý một cách an toàn, chuyên nghiệp, bên cạnh đó người tham gia còn có thể tích điểm mỗi lần bỏ rác điện tử và nhận lại các phần quà thân thiện với môi trường.</p>
                <p class="txt-text">Bắt đầu từ ngày 10 tháng 5 năm 2022 khi mang rác thải điện tử đến các điểm thu hồi của Việt Nam Tái Chế, người dân có thể dùng điện thoại thông minh quét mã QR được in trên thùng chứa rác thải điện tử và điền form đăng ký theo hướng dẫn để tham gia tích điểm. Sau khi tích đủ điểm mọi người có thể liên hệ Việt Nam Tái Chế để quy đổi thành các phần quà xanh tương ứng. Chương trình Tích Điểm – Nhận Quà sẽ được diễn ra liên tục cho đến khi có thông báo mới.</p>
            </div>
            <div class="box-exchange">
                <div class="box-image-exchange"></div>
            </div>
            <p class="txt-text">Trong đó, số điểm tối thiểu để nhận được quà từ Việt Nam Tái Chế là 10 điểm. Cụ thể:</p>
        </div>
    </div>
    <div class="box-stall">
        <div class="container">
            <div class="box-stall-img"></div>
        </div>
    </div>

    <div class="box-procedure">
        <div class="container">
            <h3 class="txt-tile">Quy trình các bước thực hiện</h3>
            <div class="box-procedure-img"></div>
        </div>
    </div>
    <div class="box-category-collection">
        <div class="container">
            <h3 class="txt-tile">Danh mục thu gom rác thải điện tử</h3>
            <div class="box-category-collection-img"></div>
            <p class="txt-text"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Lưu ý:</strong> Hãy chắc chắn rằng tất cả loại tài sản cá nhân, bao gồm dữ liệu, đã được xóa khỏi thiết bị khi bạn mang đi thải bỏ. Rất tiếc hiện tại chúng tôi không nhận hoàn trả lại thiết bị cũng như không hỗ trợ việc bảo mật dữ liệu kèm theo.</p>

            <p class="txt-text text-condition txt-color-bule">Xin vui lòng đọc kỹ Điều khoản và Điều kiện của chúng tôi <i class="fa fa-external-link"></i></p>
        </div>
    </div>

    <div class="box-content">
        <div class="container">
            <h3 class="txt-tile">Địa chỉ thu hồi rác thải điện tử có tích điểm</h3>
            <p class="txt-text txt-address">Các bạn có thể mang thiết bị cũ ở nhà mình đến những địa điểm cụ thể sau để tích điểm và nhận quà nhé:</p>
            <div class="list-address">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="list-address-content">
                            <h3>Tại TP. Hồ Chí Minh</h3>
                            <ol>
                                <li>
                                    <strong>UBND Phường 9, Quận 3</strong><br>
                                    82 Bà Huyện Thanh Quan, P. 9, Q. 3
                                </li>
                                <li>
                                    <strong>UBND Phường 17, Quận Phú Nhuận</strong><br>
                                    22 Nguyễn Văn Trỗi, P. 17, Q. Phú Nhuận
                                </li>
                                <li>
                                    <strong>Siêu thị Metro An Phú – MM Mega Market</strong><br>
                                    Khu B, KĐT Mới An Phú-An Khánh, P. An Phú, Q. 2
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="list-address-content">
                            <h3>Tại TP. Hà Nội</h3>
                            <ol>
                                <li>
                                    <strong>UBND Phường Tràng Tiền, Quận Hoàn Kiếm</strong><br>
                                    02 Cổ Tân, P. Tràng Tiền, Q. Hoàn Kiếm
                                </li>
                                <li>
                                    <strong>UBND Phường Thành Công, Quận Ba Đình</strong><br>
                                    09 Thành Công, P. Thành Công, Q. Ba Đình
                                </li>
                                <li>
                                    <strong>Chi Cục Bảo Vệ Môi Trường Hà Nội</strong><br>
                                    17 Trung Yên 3, P. Trung Hòa, Q. Cầu Giấy
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="box-end">
             <div class="container">
                 <div class="text">
                     <h2 style="text-align: center;"><span style="font-size: 42pt; font-family: 'comic sans ms', sans-serif;"><strong><span style="color: #0c9344;">Chúng tôi tái chế, Chúng tôi quan tâm.</span></strong></span></h2>
                 </div>
             </div>
         </div>      -->
    </div>
    <div class="box-update-point">
        <div class="container">
            <h3 class="txt-tile">Cập nhật thông tin tích điểm</h3>
            <div class="box-update-img">

            </div>
        </div>
    </div>
    <div class="box-more">

        <div class="container">
            <h3 class="txt-tile">Tìm hiểu thêm</h3>
            <p class="txt-text text-condition txt-color-bule">Về Việt Nam Tái Chế</p>
            <p class="txt-text text-condition txt-color-bule">Thu gom tận nơi cho hộ gia đình</p>
        </div>
    </div>

    <div class="box-img-energy">
        <div class="img-energy">

        </div>
    </div>

</div>


