
@{
    ViewData["Title"] = "PointAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/web/css/diadiemdoidiem.css" rel="stylesheet">
}
<div class="box-garbage-collection">
    <div class="box-image-head">
        <div class="container">
            <p class="txt-text"><a href="">Trang chủ </a> <span>> </span>Địa điểm thu hồi </p>
        </div>
    </div>
    <div class="box-content">
        <div class="container">
            <h3 class="txt-title">Địa điểm thu hồi</h3>
            <div class="list-address">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="list-address-content">
                            <h3 class="txt-tile">Tại TP. Hồ Chí Minh</h3>
                            <ol>
                                <li>
                                    <strong>UBND Phường 9, Quận 3</strong><br>
                                    82 Bà Huyện Thanh Quan, P. 9, Q. 3
                                </li>
                                <li>
                                    <strong>UBND Phường 15, Quận 4</strong><br>
                                    132 Tôn Thất Thuyết, P. 15, Q. 4
                                </li>
                                <li>
                                    <strong>UBND Phường 17, Quận Phú Nhuận</strong><br>
                                    22 Nguyễn Văn Trỗi, P. 17, Q. Phú Nhuận
                                </li>
                                <li>
                                    <strong>UBND Phường 2, Quận Bình Thạnh</strong><br>
                                    14 Phan Bội Châu, P. 2, Q. Bình Thạnh
                                </li>
                                <li>
                                    <strong>Siêu thị Metro An Phú – MM Mega Market</strong><br>
                                    Khu B, KĐT Mới An Phú-An Khánh, P. An Phú, Q. 2
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="list-address-content">
                            <h3 class="txt-tile">Tại TP. Hà Nội</h3>
                            <ol>
                                <li>
                                    <strong>Nhà Văn Hóa Phường Nghĩa Tân, Quận Cầu Giấy</strong><br>
                                    45 Nghĩa Tân, P. Nghĩa Tây, Q. Cầu Giấy
                                </li>
                                <li>
                                    <strong>UBND Phường Tràng Tiền, Quận Hoàn Kiếm</strong><br>
                                    02 Cổ Tân, P. Tràng Tiền, Q. Hoàn Kiếm
                                </li>
                                <li>
                                    <strong>UBND Phường Quán Thánh, Quận Ba Đình</strong><br>
                                    12-14 Phan Đình Phùng, P. Quán Thánh, Q. Ba Đình
                                </li>
                                <li>
                                    <strong>UBND Phường Thành Công, Quận Ba Đình</strong><br>
                                    09 Thành Công, P. Thành Công, Q. Ba Đình
                                </li>
                                <li>
                                    <strong>Chi Cục Bảo Vệ Môi Trường Hà Nội</strong><br>
                                    17 Trung Yên 3, P. Trung Hòa, Q. Cầu Giấy
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-end">
            <div class="container">
                <div class="text">
                    <h2 style="text-align: center;"><span style="font-size: 42pt; font-family: 'comic sans ms', sans-serif;"><strong><span style="color: #0c9344;">Chúng tôi tái chế, Chúng tôi quan tâm.</span></strong></span></h2>
                </div>
            </div>
        </div>
    </div>

</div>

